<div class="bg-white shadow rounded-lg p-6">
  <h1 class="text-2xl font-semibold mb-6">Admin Dashboard</h1>
  
  <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl mx-auto">
    <%= markdown(@readme_content) %>
  </div>
</div>