<div class="py-4">
  <% track.tags.each do |tag| %>
    <%= link_to tag, "/tracks/genre/#{tag}",  class: "inline-flex dark:hover:bg-gray-900 hover:cursor-pointer items-center rounded-full bg-gray-100 dark:bg-gray-800 px-2.5 py-0.5 text-xs font-medium text-gray-800 dark:text-gray-200" %>
  <% end %>
</div>