<div class="flex text-white items-center justify-center space-x-3 ml-2">
  
  <button type="button" data-action="player#prevSong" data-player-target="rew">
    <svg viewBox="0 0 15 15" aria-label="fwd" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
      <path d="M14.5 12.5v-10l-7 5 7 5zm-7 0v-10l-7 5 7 5z" stroke="currentColor" stroke-linejoin="round"></path>
    </svg>
  </button>
  <button type="button" data-action="player#pause" data-player-target="pause" class="hidden -ml-px relative inline-flex items-center px-2 py-2 rounded-full border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
    <span class="sr-only">Siguiente</span>
    <svg viewBox="0 0 15 15" class="h-6 w-6" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
      <path d="M11.5 3.5h-8v8h8v-8z" stroke="currentColor"></path>
    </svg>
  </button>
  <button type="button" data-action="player#playSong" data-player-target="play" class="relative inline-flex items-center px-2 py-2
      rounded-full text-black
      bg-white text-sm font-medium
      smooth-grow
      focus:z-10 focus:outline-none focus:ring-1 focus:ring-gray-700 focus:border-gray-400">
    <span class="sr-only">Jugar</span>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: none;" width="20px" height="20px" viewBox="0 0 100 100" data-player-target="loadingicon" preserveAspectRatio="xMidYMid">
      <circle cx="84" cy="50" r="10" fill="#e15b64">
        <animate attributeName="r" repeatCount="indefinite" dur="0.29411764705882354s" calcMode="spline" keyTimes="0;1" values="11;0" keySplines="0 0.5 0.5 1" begin="0s"></animate>
        <animate attributeName="fill" repeatCount="indefinite" dur="1.1764705882352942s" calcMode="discrete" keyTimes="0;0.25;0.5;0.75;1" values="#e15b64;#abbd81;#f8b26a;#f47e60;#e15b64" begin="0s"></animate>
      </circle>
      <circle cx="16" cy="50" r="10" fill="#e15b64">
        <animate attributeName="r" repeatCount="indefinite" dur="1.1764705882352942s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;11;11;11" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1.1764705882352942s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
      </circle>
      <circle cx="50" cy="50" r="10" fill="#f47e60">
        <animate attributeName="r" repeatCount="indefinite" dur="1.1764705882352942s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;11;11;11" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.29411764705882354s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1.1764705882352942s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.29411764705882354s"></animate>
      </circle>
      <circle cx="84" cy="50" r="10" fill="#f8b26a">
        <animate attributeName="r" repeatCount="indefinite" dur="1.1764705882352942s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;11;11;11" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.5882352941176471s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1.1764705882352942s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.5882352941176471s"></animate>
      </circle>
      <circle cx="16" cy="50" r="10" fill="#abbd81">
        <animate attributeName="r" repeatCount="indefinite" dur="1.1764705882352942s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;11;11;11" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.8823529411764706s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1.1764705882352942s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.8823529411764706s"></animate>
      </circle>
    </svg>
    <svg data-player-target="playicon" style="display: block;" viewBox="0 0 15 15" class="h-5 w-5" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
      <path d="M5.5 3v9m4-9v9" stroke="currentColor"></path>
    </svg>
    <svg data-player-target="pauseicon" viewBox="0 0 15 15" class="h-5 w-5" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="display: none;">
      <path d="M4.5 12.5v-10l7 5-7 5z" stroke="currentColor" stroke-linejoin="round"></path>
    </svg>
  </button>
  <button type="button" data-action="player#nextSong" data-player-target="next">
    <svg viewBox="0 0 15 15" aria-label="fwd" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
      <path d="M.5 12.5v-10l7 5-7 5zm7 0v-10l7 5-7 5z" stroke="currentColor" stroke-linejoin="round"></path>
    </svg>
  </button>

  <% #= link_to "nxt #{@prev_track.id}", player_path(id: @prev_track, t: true) if @prev_track %>
  <% #= link_to "nxt #{@track.id}", player_path(id: @track, t: true) %>
  <% #= link_to "nxt #{@next_track.id}", player_path(id: @next_track, t: true) if @next_track %>
</div>