<% if resource.scopes.any? %>

  <div>
    <div class="hidden sm:block">
      <div class="border-b border-gray-200 mb-4">
        <nav class="-mb-px flex space-x-8" aria-label="Tabs">
          <% resource.scopes.each do |scope| %>

            <%= link_to scope[:options][:label] || scope[:name].to_s.titleize,
                      url_for(scope: scope[:name]),
                      class: "whitespace-nowrap border-b-2 px-1 py-4
                       text-sm font-medium text-gray-500 hover:border-gray-300
                      hover:text-gray-70 #{params[:scope] == scope[:name].to_s ? 'border-black text-black' : 'text-gray-300 border-transparent'}" %>


          <!--<a href="#" class="whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">My Account</a>
          <a href="#" class="whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Company</a>
          <a href="#" class="whitespace-nowrap border-b-2 border-indigo-500 px-1 py-4 text-sm font-medium text-indigo-600" aria-current="page">Team Members</a>
          <a href="#" class="whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Billing</a>
          -->
          <% end %>
        </nav>
      </div>
    </div>
  </div>

<% end %>


