<table class="min-w-full leading-normal">
  <thead class="text-zinc-500 dark:text-zinc-400">
    <tr>
      <% resource.columns.each do |column| %>
        <th class="border-b border-b-zinc-950/10 px-4 py-2 font-medium first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">
          <%= column[:name] %>
          <% # sort_link(@q, column[:name], column[:options][:label] || column[:name].to_s.titleize, { class: "text-gray-600 hover:text-gray-900" }) %>
        </th>
      <% end %>
      <th class="border-b border-b-zinc-950/10 px-4 py-2 font-medium first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |item| %>
      <tr class="has-[[data-row-link][data-focus]]:outline has-[[data-row-link][data-focus]]:outline-2 has-[[data-row-link][data-focus]]:-outline-offset-2 has-[[data-row-link][data-focus]]:outline-blue-500 dark:focus-within:bg-white/[2.5%] hover:bg-zinc-950/[2.5%] dark:hover:bg-white/[2.5%]">
        <% resource.columns.each do |column| %>
          <td class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-4 sm:first:pl-1 sm:last:pr-1">
            <% if column[:block] %>
              <%= column[:block].call(item, self) %>
            <% else %>
              <%= item.send(column[:name]) %>
            <% end %>
          </td>
        <% end %>
        <td class="relative px-4 first:pl-[var(--gutter,theme(spacing.2))] last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5 dark:border-white/5 py-4 sm:first:pl-1 sm:last:pr-1">
          <%= render 'backstage/shared/actions', resource: resource, item: item %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>