<div id="whereby_renderer" phx-update="ignore">
  <iframe
    width="100%"
    height="520"
    src="<%= "#{@service.room_url}?video=off&audio=off&people=off&precallReview=off"%>"
    allow="camera; microphone; fullscreen; speaker; display-capture; autoplay"
  >
  </iframe>
</div>