<%= turbo_frame_tag "like-frame-item-#{track.id}", "data-turbo": true do %>
  <%= button_to track_likes_path(track), 
      class: local_assigns[:button_class], 
      "data-method": "post",
      "data-confirm": "Are you sure?" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
    </svg>
    <span class="flex space-x-1">
      <span><%= track.likes.count %></span>
      <span class="hidden sm:block">Me gusta</span>
    </span>
  <% end %>
<% end %>