

<div 
  data-controller="upload" 
  data-action="dragover->upload#preventDefaults drop->upload#handleDrop"
  class="max-w-lg flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
  
  <template data-upload-target="template">
    <div class="p-1 text-white">
      <div class="flex justify-center">FILE</div>
      <div id="NEW_RECORD" 
        class="bg-green-500 h-4 mt-3 rounded-md text-xs"
        style="width: 0%;"></div>
    </div>
  </template>
  
  <div class="space-y-1 text-center justify-center">
    <div class="flex justify-center" data-upload-target="preview">
      <% if local_assigns[:image_url] %>
        <%= image_tag image_url, class: "h-12" %>
      <% else %>
        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
          <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      <% end %>
    </div>
    <div class="flex text-sm text-gray-600 py-3 justify-center">
      <label>
        <span><%= t("upload.upload_label", name: attribute) %></span>
        <div class="hidden">
          <%= form.file_field attribute, direct_upload: true,
            accept: 'image/*',
            data: { upload_target: "input",
                    action:        "change->upload#uploadFile" } %>
        </div>

      </label>

      <p class="pl-1 py-2"><%= t("upload.or_drag_and_drop") %></p>
    </div>


    <div data-upload-target="progress"></div>
    <div data-upload-target="progressContainer" class="flex flex-col space-y-2"></div>

    <p class="text-xs text-gray-500"> PNG, JPG, GIF hasta 10MB </p>
    <!--
    <div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 py-4">
      <label for="prompt" class="relative cursor-pointer rounded-md font-medium text-brand-600 hover:text-brand-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-brand-500"> O generar la imagen con IA </label>
      <div class="flex items-center justify-center space-x-3 my-4">
        <div>
          <input class="bg-black w-full rounded-md border-white px-2 py-1 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-brand-700" id="edit-track-form-178_prompt" name="track[prompt]" phx-keyup="set-prompt" phx-target="8" placeholder="Bits on fire" type="text">
        </div>
        <button type="button" class="mt-3 flex w-full items-center justify-center rounded-md border border-transparent bg-brand-500 px-1 py-1 text-base font-medium text-white shadow hover:bg-brand-400 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-brand-700 sm:mt-0 sm:ml-3 sm:w-auto sm:flex-shrink-0"> generar imagen </button>
      </div>
      <p class="mt-3 text-sm text-brand-200"> Utilizamos DALL-E de Open AI para generar imágenes
        <a href="https://openai.com/dall-e-2/" target="blank" class="font-medium text-white underline"> leer más. </a>
      </p>
    </div>
    -->
  </div>
</div>


