<div class="filter-item mb-2" data-filter-manager-target="filterItem">
  <% if index != 0 %>
    <div class="mb-2">
      <%= f.select :condition, [['AND', 'AND'], ['OR', 'OR']], {}, class: "mr-2" %>
    </div>
  <% end %>
  <div class="flex items-center">

    <%= f.select :field, resource.filterable_fields.map { |field| 
      [field[:options][:label] || field[:name].to_s.titleize, field[:name].to_s ] }, 
      {}, class: "mr-2"
     %>

    <%= f.select :operator, [
      ['Is', 'eq'],
      ['Is not', 'not_eq'],
      ['Greater than', 'gt'],
      ['Less than', 'lt'],
      ['Greater than or equal to', 'gteq'],
      ['Less than or equal to', 'lteq'],
      ['Contains', 'matches']
    ], {}, class: "mr-2" %>

    <%= f.text_field :value, class: "mr-2", label: false %>
    <button type="button" data-action="click->filter-manager#removeFilter" class="text-red-500">&times;</button>
  </div>
</div>