<div>
  <div class="bg-default">
    <div class="mx-auto max-w-7xl py-12 px-4 text-center sm:px-6 lg:py-16 lg:px-8">
      <%= render "manager_form" %>
    </div>
  </div>

  <%= render "qr_view" %>

</div>
