<h1 class="text-2xl font-semibold mb-6">New <%= controller_name.singularize.titleize %></h1>

<%= render 'backstage/shared/form', resource: @resource %>

<div class="mt-6">
  <%= link_to "Back to #{controller_name.titleize}", polymorphic_path([:admin, controller_name.classify.constantize]), class: "text-gray-600 hover:text-gray-900" %>
</div>
