@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ProseMirror {
    @apply text-default focus:outline-none outline-none dark:prose-invert;
  }
  :root {
    /* background */

    --rau-bg-emphasis: #e5e7eb;
    --rau-bg: white;
    --rau-bg-subtle: #f3f4f6;
    --rau-bg-muted: #f9fafb;
    --rau-bg-inverted: #111827;

    /* background -> components*/
    --rau-bg-info: #dee9fc;
    --rau-bg-success: #e2fbe8;
    --rau-bg-attention: #fceed8;
    --rau-bg-error: #f9e3e2;
    --rau-bg-dark-error: #752522;

    /* Borders */
    --rau-border-emphasis: #9ca3af;
    --rau-border: #d1d5db;
    --rau-border-subtle: #e5e7eb;
    --rau-border-muted: #f3f4f6;
    --rau-border-error: #aa2e26;

    /* Content/Text */
    --rau-text-emphasis: #111827;
    --rau-text: #374151;
    --rau-text-subtle: #6b7280;
    --rau-text-muted: #9ca3af;
    --rau-text-inverted: white;

    /* Content/Text -> components */
    --rau-text-info: #253985;
    --rau-text-success: #285231;
    --rau-text-attention: #73321b;
    --rau-text-error: #752522;

    /* Brand shinanigans
      -> These will be computed for the users theme at runtime.
    */
    --rau-brand: #ea09e3;
    --rau-brand-emphasis: #002c63;
    --rau-brand-text: white;
  }
  :root .dark {
    /* background */

    --rau-bg-emphasis: #2b2b2b;
    --rau-bg: #101010;
    --rau-bg-subtle: #2b2b2b;
    --rau-bg-muted: #1c1c1c;
    --rau-bg-inverted: #f3f4f6;

    /* background -> components*/
    --rau-bg-info: #263fa9;
    --rau-bg-success: #306339;
    --rau-bg-attention: #8e3b1f;
    --rau-bg-error: #8c2822;
    --rau-bg-dark-error: #752522;

    /* Borders */
    --rau-border-emphasis: #575757;
    --rau-border: #444444;
    --rau-border-subtle: #2b2b2b;
    --rau-border-muted: #1c1c1c;
    --rau-border-error: #aa2e26;

    /* Content/Text */
    --rau-text-emphasis: #f3f4f6;
    --rau-text: #d6d6d6;
    --rau-text-subtle: #757575;
    --rau-text-muted: #575757;
    --rau-text-inverted: #101010;

    /* Content/Text -> components */
    --rau-text-info: #dee9fc;
    --rau-text-success: #e2fbe8;
    --rau-text-attention: #fceed8;
    --rau-text-error: #f9e3e2;

    /* Brand shenanigans
      -> These will be computed for the users theme at runtime.
    */

    --rau-brand: #ea09e3;
    --rau-brand-emphasis: #002c63;
    --rau-brand-text: white;
  }

  .flash-error-bg,
  .flash-alert-bg {
    @apply bg-red-600;
  }

  .flash-error-text,
  .flash-alert-text {
    @apply text-red-100;
  }

  .flash-notice-bg {
    @apply bg-green-600;
  }
  .flash-notice-text {
    @apply text-green-100;
  }

  .post-wrapper .aspectRatioPlaceholder {
    margin: 0px auto;
    position: relative;
    width: 100%;
  }

  .post-wrapper .aspectRatioPlaceholder img {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .post-wrapper .imageCaption {
    text-align: center;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    outline: 0px;
    z-index: 300;
    margin-top: 40px;
  }

  .post-wrapper .graf--mixtapeEmbed {
    border-color: rgb(51, 51, 51);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    margin-top: 40px;
    max-height: 310px;
    overflow: hidden;
    padding: 30px;
    position: relative;
  }

  .post-wrapper .graf--mixtapeEmbed .mixtapeImage {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 310px;
    margin: -30px -30px 0px 25px;
    width: 310px;
  }

  .post-wrapper .graf--mixtapeEmbed .markup--mixtapeEmbed-strong {
    display: block;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.2;
    margin-bottom: 0px;
  }

  .post-wrapper .graf--layoutInsetLeft,
  .post-wrapper .graf--layoutOutsetLeft {
    float: left;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .post-wrapper .graf--layoutOutsetLeft {
    width: 75%;
  }

  .post-wrapper .graf--layoutOutsetLeft {
    margin-left: -160px;
  }

  .aaa {
    @apply bg-white;
  }

  .scaleX {
    @apply hover:scale-125 transform-gpu hover:animate-pulse transition duration-500;
  }

  textarea {
    @apply block w-full rounded-md border-0 py-1.5 dark:bg-gray-900 dark:text-gray-100 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand-600 sm:text-sm sm:leading-6;
  }

  .select,
  select {
    @apply block w-full rounded-md border-0 px-3 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-brand-600 sm:text-sm sm:leading-6;
  }

  label {
    @apply block text-sm font-medium text-gray-700 dark:text-gray-300 sm:mt-px sm:pt-2;
  }

  input[type="number"] {
    @apply block w-full rounded-md border-0 px-3 pl-3 dark:bg-gray-900 dark:text-gray-100 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-brand-600 sm:text-sm sm:leading-6;
  }

  input[type="date"],
  input[type="datetime-local"] {
    @apply block w-full rounded-md border-0 px-3 pl-3 pr-10 dark:bg-gray-900 dark:text-gray-100 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-brand-600 sm:text-sm sm:leading-6;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply block w-full rounded-md border-0 px-3 pl-3 pr-10 dark:bg-gray-900 dark:text-gray-100 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-brand-600 sm:text-sm sm:leading-6;
  }

  select {
    @apply shadow-sm focus:ring-brand-500 focus:border-brand-500 block w-full sm:text-sm border-gray-300 dark:border-gray-600 rounded-md dark:bg-gray-900 dark:text-gray-100;
  }

  label {
    @apply block text-gray-700 dark:text-white text-sm font-bold mb-1;
  }

  input[type="submit"],
  .brand-button {
    @apply cursor-pointer rounded-md bg-brand-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-brand-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-600;
  }

  .input {
    @apply disabled:bg-muted;
  }

  .link {
    @apply text-brand-600 hover:text-brand-900;
  }

  /* .my-react-select-container {
      oijoijoij
  } */
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-neutral-100 dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
  }

  /* .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  } */

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }

  .button {
    @apply space-x-1 inline-flex items-center px-2.5 py-1.5 border border-gray-300 dark:border-gray-900 shadow-sm text-xs font-medium rounded text-gray-700 bg-white dark:text-gray-300 dark:bg-black  hover:bg-gray-50 dark:hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:focus:ring-indigo-900;
  }

  .button-active {
    @apply space-x-1 inline-flex items-center px-2.5 py-1.5 border border-gray-300 dark:border-gray-900 shadow-sm text-xs font-medium rounded text-gray-700 bg-white dark:text-brand-300 dark:bg-black  hover:bg-brand-50 dark:hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-brand-900;
  }

  .button-large-selected {
    @apply inline-flex items-center px-4 py-2 border border-brand-300 shadow-sm text-base font-medium rounded-md text-gray-900 bg-white hover:bg-gray-900 hover:text-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .button-large {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-brand-600 hover:bg-brand-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-500;
  }

  .button-large-outline {
    @apply inline-flex justify-between dark:border-2 dark:border-white rounded-lg py-3 px-5 bg-black text-white block font-medium;
  }

  .button-sm-outline {
    @apply inline-flex items-center justify-between dark:border-2 dark:border-white rounded-lg py-2 px-2 bg-black text-white block font-medium text-sm;
  }

  .player-button {
    @apply relative inline-flex items-center px-2 py-2
          rounded-full text-default
          bg-default text-sm font-medium
          smooth-grow
          border
          focus:z-10 focus:outline-none focus:ring-1 focus:ring-muted focus:border-subtle;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .smooth-color {
    @apply transition-colors duration-500 ease-in-out;
  }

  .smooth-grow {
    @apply transform transition duration-200 ease-in-out hover:scale-110;
  }

  .group-hover {
    @apply relative hover:bg-gray-800 p-2 rounded-md smooth-color;
  }

  .tab-active {
    @apply border-brand-500 text-brand-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium;
  }

  .tab-default {
    @apply border-transparent text-gray-500 dark:text-gray-300 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium;
  }

  /* COMBOBOX */

  .hw-combobox__main__wrapper {
    @apply sm:w-full rounded-full w-80 relative;
  }
  .hw-combobox__handle {
    @apply right-3;
  }
  .hw-combobox__listbox {
    @apply rounded-2xl bg-subtle overflow-auto h-48 absolute w-full z-[500];
  }

  .hw-combobox__listbox .hw-combobox__option {
    @apply p-2 border-b border-muted hover:bg-emphasis;
  }
}
