<div id="metadata-tab" class="tab-pane">

  <div class="my-6 grid grid-cols-1 gap-y-4 gap-x-4 sm:grid-cols-4">
    <div class="sm:col-span-4">
      <%= form.text_field :buy_link %>
    </div>
    <div class="sm:col-span-6">
      <%= form.text_field :record_label %>
    </div>
  </div>

  <%= render "shared/attribution_fields", form: form %>

</div>