<div id="tracks-info" class="tab-pane block">
  <div role="list" class="my-5 divide-y divide-gray-200 dark:divide-gray-800 my-4">
    <div data-controller="nested-form" class="py-6">
      <%= hidden_field_tag :t, params[:t] %>
      <div role="list" 
        data-controller="sortable" data-handle=".cursor-move" 
        data-url="<%= sort_playlist_path(@playlist) %>"
        class="-my-5 divide-y divide-muted">
        <%= form.fields_for :track_playlists, form.object.track_playlists.order("position asc") do |link| %>
          <%= render "track_fields", form: link %>
        <% end %>
      </div>
    </div>
  </div>
</div>