<% if url.present? %>
  <a href="<%= url %>" 
    class="flex items-center space-x-2 bg-black text-white py-2 px-4 rounded-full">
    <span>Listen on <%= platform %></span>
    <% case platform
    when "Bandcamp" %>
      <svg xmlns="http://www.w3.org/2000/svg"
        aria-label="Bandcamp" 
        role="img"
        viewBox="0 0 512 512" 
        class="h-6 w-6">
        <rect
        width="512" height="512"
        rx="15%"
        fill="bg-default"/>
        <path fill="currentColor"
        d="M99 349h215l99-186H198"/>
      </svg>

    <% when "Soundcloud" %>
      <svg viewBox="0 0 48 48" class="h-6 w-6"
        xmlns="http://www.w3.org/2000/svg" 
        fill="currentColor">
      <g stroke-width="0"></g>
      <g stroke-linecap="round" stroke-linejoin="round"></g>
      <g>
        <path class="a" d="M24,30v3.26H38.42a5.08,5.08,0,0,0,0-10.16,5,5,0,0,0-1.56.27c0-.09,0-.18,0-.27A8.3,8.3,0,0,0,24,16.17h0Z">
        </path>
        <line class="a" x1="4.5" y1="24.34" x2="4.5" y2="30.8"></line>
        <line class="a" x1="7.28" y1="21.99" x2="7.28" y2="32.45"></line>
        <line class="a" x1="10.06" y1="22.75" x2="10.06" y2="33.23"></line>
        <line class="a" x1="12.84" y1="33.23" x2="12.84" y2="19.9"></line>
        <line class="a" x1="15.62" y1="18.89" x2="15.62" y2="33.23"></line>
        <line class="a" x1="18.4" y1="33.23" x2="18.4" y2="19.9"></line>
        <line class="a" x1="21.18" y1="17.96" x2="21.18" y2="33.23"></line>
      </g>
      </svg>

    <% when "Spotify" %>
      <svg viewBox="0 -0.5 25 25" 
      class="h-6 w-6"
      fill="none" xmlns="http://www.w3.org/2000/svg">
      <g stroke-width="0"></g>
      <g stroke-linecap="round" stroke-linejoin="round"></g>
      <g> 
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 12C19.5 15.866 16.366 19 12.5 19C8.63401 19 5.5 15.866 5.5 12C5.5 8.13401 8.63401 5 12.5 5C14.3565 5 16.137 5.7375 17.4497 7.05025C18.7625 8.36301 19.5 10.1435 19.5 12Z" 
        stroke="currentColor" stroke-width="1.5" 
        stroke-linecap="round" stroke-linejoin="round"></path> 
        <path d="M7.01199 10.4304C6.69745 10.7 6.66097 11.1734 6.93049 11.488C7.20001 11.8025 7.67348 11.839 7.98801 11.5695L7.01199 10.4304ZM16.7628 10.7115C17.1558 10.8424 17.5805 10.6301 17.7115 10.2371C17.8425 9.84416 17.6301 9.41942 17.2372 9.28843L16.7628 10.7115ZM8.01199 12.4304C7.69745 12.7 7.66097 13.1734 7.93049 13.488C8.20001 13.8025 8.67348 13.839 8.98801 13.5695L8.01199 12.4304ZM16.3181 12.7276C16.7199 12.828 17.1271 12.5837 17.2276 12.1818C17.3281 11.78 17.0837 11.3728 16.6819 11.2723L16.3181 12.7276ZM9.01199 14.4304C8.69745 14.7 8.66097 15.1734 8.93049 15.488C9.20001 15.8025 9.67348 15.839 9.98801 15.5695L9.01199 14.4304ZM16.3181 14.7276C16.7199 14.828 17.1271 14.5837 17.2276 14.1818C17.3281 13.78 17.0837 13.3728 16.6819 13.2723L16.3181 14.7276ZM7.98801 11.5695C8.95809 10.7382 12.2166 9.19604 16.7628 10.7115L17.2372 9.28843C12.1834 7.60385 8.37591 9.26169 7.01199 10.4304L7.98801 11.5695ZM8.98801 13.5695C9.93048 12.7619 12.4976 11.7724 16.3181 12.7276L16.6819 11.2723C12.5024 10.2275 9.40352 11.238 8.01199 12.4304L8.98801 13.5695ZM9.98801 15.5695C10.5095 15.1226 11.1521 14.6968 12.1033 14.4814C13.0643 14.2638 14.3999 14.248 16.3181 14.7276L16.6819 13.2723C14.6001 12.7519 13.0192 12.7361 11.772 13.0185C10.5149 13.3031 9.65752 13.8773 9.01199 14.4304L9.98801 15.5695Z" 
        fill="currentColor">

      </path> </g></svg>
    <% end %>
  </a>
<% end %>