<section class="container- mx-auto- px-8 py-12 border-t-4 border-gray-300">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    
    <div class="flex flex-col justify-between">
      <div class="flex justify-start">
        <p class="text-9xl font-bold text-gray-300"><%= section.subtitle %></p>
      </div>
      <p class="text-xl font-bold uppercase tracking-tight">
          <%= section.title %>
      </p>
    </div>
    
    <div class="flex flex-col space-y-4">
      <div class="text-lg uppercase- tracking-widest- text-muted"> 
        <%= raw section.body %>
      </div>
    </div>
  </div>
</section>