<%= turbo_frame_tag "gallery-photo" do %>
  <div class="aspect-h-1-- aspect-w-1-- w-full">
    <%= image_tag image, 
      class: "h-full w-full object-cover object-center sm:rounded-lg" %>
  </div>
<% end %>