<div>
  <h3 class="text-sm font-medium text-default">Color</h3>

  <fieldset aria-label="Choose a color" class="mt-4">
    <div class="flex items-center space-x-3">
      <!-- Active and Checked: "ring ring-offset-1" -->
      <label aria-label="default" class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 ring-gray-400 focus:outline-none">
        <input type="radio" name="color-choice" value="default" class="sr-only">
        <span aria-hidden="true" class="h-8 w-8 rounded-full border border-default border-opacity-10 bg-default"></span>
      </label>
      <!-- Active and Checked: "ring ring-offset-1" -->
      <label aria-label="Gray" class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 ring-gray-400 focus:outline-none">
        <input type="radio" name="color-choice" value="Gray" class="sr-only">
        <span aria-hidden="true" class="h-8 w-8 rounded-full border border-default border-opacity-10 bg-muted"></span>
      </label>
      <!-- Active and Checked: "ring ring-offset-1" -->
      <label aria-label="Black" class="relative -m-0.5 flex cursor-pointer items-center justify-center rounded-full p-0.5 ring-gray-900 focus:outline-none">
        <input type="radio" name="color-choice" value="Black" class="sr-only">
        <span aria-hidden="true" class="h-8 w-8 rounded-full border border-default border-opacity-10 bg-gray-900"></span>
      </label>
    </div>
  </fieldset>
</div>

<div class="mt-10">
  <div class="flex items-center justify-between">
    <h3 class="text-sm font-medium text-default">Size</h3>
    <a href="#" class="text-sm font-medium text-brand-600 hover:text-brand-500">Size guide</a>
  </div>

  <fieldset aria-label="Choose a size" class="mt-4">
    <div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4">
      <!-- Active: "ring-2 ring-indigo-500" -->
      <label class="group relative flex cursor-not-allowed items-center justify-center rounded-md border bg-muted px-4 py-3 text-sm font-medium uppercase text-muted hover:bg-muted focus:outline-none sm:flex-1 sm:py-6">
        <input type="radio" name="size-choice" value="XXS" disabled class="sr-only">
        <span>XXS</span>
        <span aria-hidden="true" class="pointer-events-none absolute -inset-px rounded-md border-2 border-muted">
          <svg class="absolute inset-0 h-full w-full stroke-2 text-muted" viewBox="0 0 100 100" preserveAspectRatio="none" stroke="currentColor">
            <line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke" />
          </svg>
        </span>
      </label>
      <!-- Active: "ring-2 ring-indigo-500" -->
      <label class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-default px-4 py-3 text-sm font-medium uppercase text-default shadow-sm hover:bg-muted focus:outline-none sm:flex-1 sm:py-6">
        <input type="radio" name="size-choice" value="XS" class="sr-only">
        <span>XS</span>
        <!--
          Active: "border", Not Active: "border-2"
          Checked: "border-indigo-500", Not Checked: "border-transparent"
        -->
        <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
      </label>
      <!-- Active: "ring-2 ring-indigo-500" -->
      <label class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-default px-4 py-3 text-sm font-medium uppercase text-default shadow-sm hover:bg-muted focus:outline-none sm:flex-1 sm:py-6">
        <input type="radio" name="size-choice" value="S" class="sr-only">
        <span>S</span>
        <!--
          Active: "border", Not Active: "border-2"
          Checked: "border-indigo-500", Not Checked: "border-transparent"
        -->
        <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
      </label>
      <!-- Active: "ring-2 ring-indigo-500" -->
      <label class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-default px-4 py-3 text-sm font-medium uppercase text-default shadow-sm hover:bg-muted focus:outline-none sm:flex-1 sm:py-6">
        <input type="radio" name="size-choice" value="M" class="sr-only">
        <span>M</span>
        <!--
          Active: "border", Not Active: "border-2"
          Checked: "border-indigo-500", Not Checked: "border-transparent"
        -->
        <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
      </label>
      <!-- Active: "ring-2 ring-indigo-500" -->
      <label class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-default px-4 py-3 text-sm font-medium uppercase text-default shadow-sm hover:bg-muted focus:outline-none sm:flex-1 sm:py-6">
        <input type="radio" name="size-choice" value="L" class="sr-only">
        <span>L</span>
        <!--
          Active: "border", Not Active: "border-2"
          Checked: "border-indigo-500", Not Checked: "border-transparent"
        -->
        <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
      </label>
      <!-- Active: "ring-2 ring-indigo-500" -->
      <label class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-default px-4 py-3 text-sm font-medium uppercase text-default shadow-sm hover:bg-muted focus:outline-none sm:flex-1 sm:py-6">
        <input type="radio" name="size-choice" value="XL" class="sr-only">
        <span>XL</span>
        <!--
          Active: "border", Not Active: "border-2"
          Checked: "border-indigo-500", Not Checked: "border-transparent"
        -->
        <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
      </label>
      <!-- Active: "ring-2 ring-indigo-500" -->
      <label class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-default px-4 py-3 text-sm font-medium uppercase text-default shadow-sm hover:bg-muted focus:outline-none sm:flex-1 sm:py-6">
        <input type="radio" name="size-choice" value="2XL" class="sr-only">
        <span>2XL</span>
        <!--
          Active: "border", Not Active: "border-2"
          Checked: "border-indigo-500", Not Checked: "border-transparent"
        -->
        <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
      </label>
      <!-- Active: "ring-2 ring-indigo-500" -->
      <label class="group relative flex cursor-pointer items-center justify-center rounded-md border bg-default px-4 py-3 text-sm font-medium uppercase text-default shadow-sm hover:bg-muted focus:outline-none sm:flex-1 sm:py-6">
        <input type="radio" name="size-choice" value="3XL" class="sr-only">
        <span>3XL</span>
        <!--
          Active: "border", Not Active: "border-2"
          Checked: "border-indigo-500", Not Checked: "border-transparent"
        -->
        <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
      </label>
    </div>
  </fieldset>
</div>