<div class="w-full">
  <header class="bg-default lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-112 lg:items-start lg:overflow-y-auto xl:w-120">
    <div class="hidden lg:sticky lg:top-0 lg:flex lg:w-16 lg:flex-none lg:items-center lg:whitespace-nowrap lg:py-12 lg:text-sm lg:leading-7 lg:[writing-mode:vertical-rl]">
      <span class="font-mono text-muted">Hosted by</span>
      <span class="mt-6 flex gap-6 font-bold text-default">Eric Gordon <span aria-hidden="true" class="text-slate-400">/</span>Wes Mantooth </span>
    </div>
    <div class="relative z-10 mx-auto px-4 pb-4 pt-10 sm:px-6 md:max-w-2xl md:px-4 lg:min-h-full lg:flex-auto lg:border-x lg:border-subtle lg:px-8 lg:py-12 xl:px-12">
      <a class="relative mx-auto block w-48 overflow-hidden rounded-lg bg-muted shadow-xl shadow-muted sm:w-64 sm:rounded-xl lg:w-auto lg:rounded-2xl" aria-label="Homepage" href="/">
        <img alt="" fetchpriority="high" width="960" height="960" decoding="async" data-nimg="1" class="w-full" style="color:transparent" sizes="(min-width: 1024px) 20rem, (min-width: 640px) 16rem, 12rem" srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=16&amp;q=75 16w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=32&amp;q=75 32w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=48&amp;q=75 48w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=64&amp;q=75 64w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=96&amp;q=75 96w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=128&amp;q=75 128w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=256&amp;q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=384&amp;q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=640&amp;q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=750&amp;q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=828&amp;q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=1080&amp;q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=1200&amp;q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=1920&amp;q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=2048&amp;q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=3840&amp;q=75 3840w" src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fposter.11292dc0.png&amp;w=3840&amp;q=75">
        <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-black/10 sm:rounded-xl lg:rounded-2xl"></div>
      </a>
      <div class="mt-10 text-center lg:mt-12 lg:text-left">
        <p class="text-xl font-bold text-default">
          <a href="/">Their Side</a>
        </p>
        <p class="mt-3 text-lg font-medium leading-8 text-subtle">Conversations with the most tragically misunderstood people of our time.</p>
      </div>
      <section class="mt-12 hidden lg:block">
        <h2 class="flex items-center font-mono text-sm font-medium leading-7 text-default">
          <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5">
            <path d="M0 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5Z" class="fill-violet-300"></path>
            <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V1Z" class="fill-pink-300"></path>
          </svg>
          <span class="ml-2.5">About</span>
        </h2>
        <p class="mt-2 text-base leading-7 text-subtle lg:line-clamp-4">In this show, Eric and Wes dig deep to get to the facts with guests who have been labeled villains by a society quick to judge, without actually getting the full story. Tune in every Thursday to get to the truth with another misunderstood outcast as they share the missing context in their tragic tale.</p>
        <button type="button" class="mt-2 hidden text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900 lg:inline-block">Show more</button>
      </section>
      <section class="mt-10 lg:mt-12">
        <h2 class="sr-only flex items-center font-mono text-sm font-medium leading-7 text-default lg:not-sr-only">
          <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5">
            <path d="M0 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5Z" class="fill-indigo-300"></path>
            <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V1Z" class="fill-blue-300"></path>
          </svg>
          <span class="ml-2.5">Listen</span>
        </h2>
        <div class="h-px bg-gradient-to-r from-subtle/0 via-subtle to-subtle/0 lg:hidden"></div>
        <ul role="list" class="mt-4 flex justify-center gap-10 text-base font-medium leading-7 text-subtle sm:gap-8 lg:flex-col lg:gap-4">
          <li class="flex">
            <a class="group flex items-center" aria-label="Spotify" href="/">
              <svg aria-hidden="true" viewBox="0 0 32 32" class="h-8 w-8 fill-slate-400 group-hover:fill-slate-600">
                <path d="M15.8 3a12.8 12.8 0 1 0 0 25.6 12.8 12.8 0 0 0 0-25.6Zm5.87 18.461a.8.8 0 0 1-1.097.266c-3.006-1.837-6.787-2.252-11.244-1.234a.796.796 0 1 1-.355-1.555c4.875-1.115 9.058-.635 12.432 1.427a.8.8 0 0 1 .265 1.096Zm1.565-3.485a.999.999 0 0 1-1.371.33c-3.44-2.116-8.685-2.728-12.755-1.493a1 1 0 0 1-.58-1.91c4.65-1.41 10.428-.726 14.378 1.7a1 1 0 0 1 .33 1.375l-.002-.002Zm.137-3.629c-4.127-2.45-10.933-2.675-14.871-1.478a1.196 1.196 0 1 1-.695-2.291c4.52-1.374 12.037-1.107 16.785 1.711a1.197 1.197 0 1 1-1.221 2.06"></path>
              </svg>
              <span class="hidden sm:ml-3 sm:block">Spotify</span>
            </a>
          </li>
          <li class="flex">
            <a class="group flex items-center" aria-label="Apple Podcast" href="/">
              <svg aria-hidden="true" viewBox="0 0 32 32" class="h-8 w-8 fill-slate-400 group-hover:fill-slate-600">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.528 24.8c-.232.592-.768 1.424-1.536 2.016-.44.336-.968.664-1.688.88-.768.232-1.72.304-2.904.304H10.6c-1.184 0-2.128-.08-2.904-.304a4.99 4.99 0 0 1-1.688-.88c-.76-.584-1.304-1.424-1.536-2.016C4.008 23.608 4 22.256 4 21.4V10.6c0-.856.008-2.208.472-3.4.232-.592.768-1.424 1.536-2.016.44-.336.968-.664 1.688-.88C8.472 4.08 9.416 4 10.6 4h10.8c1.184 0 2.128.08 2.904.304a4.99 4.99 0 0 1 1.688.88c.76.584 1.304 1.424 1.536 2.016C28 8.392 28 9.752 28 10.6v10.8c0 .856-.008 2.208-.472 3.4Zm-9.471-6.312a1.069 1.069 0 0 0-.32-.688c-.36-.376-.992-.624-1.736-.624-.745 0-1.377.24-1.737.624-.183.2-.287.4-.32.688-.063.558-.024 1.036.04 1.807v.009c.065.736.184 1.72.336 2.712.112.712.2 1.096.28 1.368.136.448.625.832 1.4.832.776 0 1.273-.392 1.4-.832.08-.272.169-.656.28-1.368.152-1 .273-1.976.337-2.712.072-.776.104-1.256.04-1.816ZM16 16.375c1.088 0 1.968-.88 1.968-1.967 0-1.08-.88-1.968-1.968-1.968s-1.968.88-1.968 1.968.88 1.967 1.968 1.967Zm-.024-9.719c-4.592.016-8.352 3.744-8.416 8.336-.048 3.72 2.328 6.904 5.648 8.072.08.032.16-.04.152-.12a35.046 35.046 0 0 0-.041-.288c-.029-.192-.057-.384-.079-.576a.317.317 0 0 0-.168-.232 7.365 7.365 0 0 1-4.424-6.824c.04-4 3.304-7.256 7.296-7.288 4.088-.032 7.424 3.28 7.424 7.36 0 3.016-1.824 5.608-4.424 6.752a.272.272 0 0 0-.168.232l-.12.864c-.016.088.072.152.152.12a8.448 8.448 0 0 0 5.648-7.968c-.016-4.656-3.816-8.448-8.48-8.44Zm-5.624 8.376c.04-2.992 2.44-5.464 5.432-5.576 3.216-.128 5.88 2.456 5.872 5.64a5.661 5.661 0 0 1-2.472 4.672c-.08.056-.184-.008-.176-.096.016-.344.024-.648.008-.96 0-.104.04-.2.112-.272a4.584 4.584 0 0 0 1.448-3.336 4.574 4.574 0 0 0-4.752-4.568 4.585 4.585 0 0 0-4.392 4.448 4.574 4.574 0 0 0 1.448 3.456c.08.072.12.168.112.272-.016.32-.016.624.008.968 0 .088-.104.144-.176.096a5.65 5.65 0 0 1-2.472-4.744Z"></path>
              </svg>
              <span class="hidden sm:ml-3 sm:block">Apple Podcast</span>
            </a>
          </li>
          <li class="flex">
            <a class="group flex items-center" aria-label="Overcast" href="/">
              <svg aria-hidden="true" viewBox="0 0 32 32" class="h-8 w-8 fill-slate-400 group-hover:fill-slate-600">
                <path d="M16 28.8A12.77 12.77 0 0 1 3.2 16 12.77 12.77 0 0 1 16 3.2 12.77 12.77 0 0 1 28.8 16 12.77 12.77 0 0 1 16 28.8Zm0-5.067.96-.96-.96-3.68-.96 3.68.96.96Zm-1.226-.054-.48 1.814 1.12-1.12-.64-.694Zm2.453 0-.64.64 1.12 1.12-.48-1.76Zm.907 3.307L16 24.853l-2.133 2.133c.693.107 1.387.213 2.133.213.747 0 1.44-.053 2.134-.213ZM16 4.799C9.814 4.8 4.8 9.813 4.8 16c0 4.907 3.147 9.067 7.52 10.56l2.4-8.906c-.533-.374-.853-1.014-.853-1.707A2.14 2.14 0 0 1 16 13.813a2.14 2.14 0 0 1 2.134 2.133c0 .693-.32 1.28-.854 1.707l2.4 8.906A11.145 11.145 0 0 0 27.2 16c0-6.186-5.013-11.2-11.2-11.2Zm7.307 16.747c-.267.32-.747.427-1.12.16-.373-.267-.427-.747-.16-1.067 0 0 1.44-1.92 1.44-4.64 0-2.72-1.44-4.64-1.44-4.64-.267-.32-.213-.8.16-1.066.373-.267.853-.16 1.12.16.107.106 1.76 2.293 1.76 5.546 0 3.254-1.653 5.44-1.76 5.547Zm-3.893-2.08c-.32-.32-.267-.907.053-1.227 0 0 .8-.853.8-2.24 0-1.386-.8-2.186-.8-2.24-.32-.32-.32-.853-.053-1.226.32-.374.8-.374 1.12-.054.053.054 1.333 1.387 1.333 3.52 0 2.134-1.28 3.467-1.333 3.52-.32.32-.8.267-1.12-.053Zm-6.827 0c-.32.32-.8.373-1.12.053-.053-.106-1.333-1.386-1.333-3.52 0-2.133 1.28-3.413 1.333-3.52.32-.32.853-.32 1.12.054.32.32.267.906-.053 1.226 0 .054-.8.854-.8 2.24 0 1.387.8 2.24.8 2.24.32.32.373.854.053 1.227Zm-2.773 2.24c-.374.267-.854.16-1.12-.16-.107-.107-1.76-2.293-1.76-5.547 0-3.253 1.653-5.44 1.76-5.546.266-.32.746-.427 1.12-.16.373.266.426.746.16 1.066 0 0-1.44 1.92-1.44 4.64 0 2.72 1.44 4.64 1.44 4.64.266.32.16.8-.16 1.067Z"></path>
              </svg>
              <span class="hidden sm:ml-3 sm:block">Overcast</span>
            </a>
          </li>
          <li class="flex">
            <a class="group flex items-center" aria-label="RSS Feed" href="/">
              <svg aria-hidden="true" viewBox="0 0 32 32" class="h-8 w-8 fill-slate-400 group-hover:fill-slate-600">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 4h15A4.5 4.5 0 0 1 28 8.5v15a4.5 4.5 0 0 1-4.5 4.5h-15A4.5 4.5 0 0 1 4 23.5v-15A4.5 4.5 0 0 1 8.5 4ZM13 22a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-6-6a9 9 0 0 1 9 9h3A12 12 0 0 0 7 13v3Zm5.74-4.858A15 15 0 0 0 7 10V7a18 18 0 0 1 18 18h-3a15 15 0 0 0-9.26-13.858Z"></path>
              </svg>
              <span class="hidden sm:ml-3 sm:block">RSS Feed</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </header>
  <main class="border-t border-subtle lg:relative lg:mb-28 lg:ml-112 lg:border-t-0 xl:ml-120">
    <svg aria-hidden="true" class="absolute left-0 top-0 h-20 w-full">
      <defs>
        <linearGradient id=":S1:-fade" x1="0" x2="0" y1="0" y2="1">
          <stop offset="40%" stop-color="white"></stop>
          <stop offset="100%" stop-color="black"></stop>
        </linearGradient>
        <linearGradient id=":S1:-gradient">
          <stop offset="0%" stop-color="#4989E8"></stop>
          <stop offset="50%" stop-color="#6159DA"></stop>
          <stop offset="100%" stop-color="#FF54AD"></stop>
        </linearGradient>
        <mask id=":S1:-mask">
          <rect width="100%" height="100%" fill="url(#:S1:-pattern)"></rect>
        </mask>
        <pattern id=":S1:-pattern" width="400" height="100%" patternUnits="userSpaceOnUse">
          <rect width="2" height="83%" x="2" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="99%" x="6" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="52%" x="10" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="99%" x="14" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="86%" x="18" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="91%" x="22" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="92%" x="26" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="75%" x="30" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="51%" x="34" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="88%" x="38" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="45%" x="42" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="56%" x="46" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="80%" x="50" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="44%" x="54" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="93%" x="58" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="98%" x="62" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="41%" x="66" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="47%" x="70" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="87%" x="74" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="67%" x="78" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="73%" x="82" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="69%" x="86" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="88%" x="90" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="53%" x="94" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="69%" x="98" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="75%" x="102" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="86%" x="106" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="43%" x="110" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="80%" x="114" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="81%" x="118" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="78%" x="122" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="56%" x="126" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="47%" x="130" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="90%" x="134" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="50%" x="138" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="52%" x="142" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="77%" x="146" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="81%" x="150" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="98%" x="154" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="48%" x="158" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="87%" x="162" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="87%" x="166" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="55%" x="170" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="41%" x="174" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="42%" x="178" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="93%" x="182" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="84%" x="186" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="67%" x="190" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="68%" x="194" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="55%" x="198" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="57%" x="202" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="56%" x="206" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="55%" x="210" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="46%" x="214" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="67%" x="218" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="69%" x="222" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="79%" x="226" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="84%" x="230" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="63%" x="234" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="94%" x="238" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="90%" x="242" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="51%" x="246" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="73%" x="250" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="55%" x="254" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="57%" x="258" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="69%" x="262" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="88%" x="266" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="84%" x="270" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="49%" x="274" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="95%" x="278" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="73%" x="282" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="54%" x="286" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="57%" x="290" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="72%" x="294" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="51%" x="298" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="44%" x="302" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="52%" x="306" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="87%" x="310" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="93%" x="314" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="46%" x="318" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="47%" x="322" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="57%" x="326" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="79%" x="330" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="95%" x="334" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="54%" x="338" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="65%" x="342" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="90%" x="346" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="99%" x="350" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="82%" x="354" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="98%" x="358" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="93%" x="362" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="60%" x="366" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="50%" x="370" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="69%" x="374" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="77%" x="378" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="93%" x="382" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="44%" x="386" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="51%" x="390" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="96%" x="394" fill="url(#:S1:-fade)"></rect>
          <rect width="2" height="60%" x="398" fill="url(#:S1:-fade)"></rect>
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#:S1:-gradient)" mask="url(#:S1:-mask)" opacity="0.25"></rect>
    </svg>
    <div class="relative">
      <div class="pb-12 pt-16 sm:pb-4 lg:pt-12">
        <div class="lg:px-8">
          <div class="lg:max-w-4xl">
            <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
              <h1 class="text-2xl font-bold leading-7 text-default">Episodes</h1>
            </div>
          </div>
        </div>
        <div class="divide-y divide-muted sm:mt-4 lg:mt-8 lg:border-t lg:border-subtle">
          <article aria-labelledby="episode-5-title" class="py-10 sm:py-12">
            <div class="lg:px-8">
              <div class="lg:max-w-4xl">
                <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                  <div class="flex flex-col items-start">
                    <h2 id="episode-5-title" class="mt-2 text-lg font-bold text-default">
                      <a href="/5">5: Bill Lumbergh</a>
                    </h2>
                    <time datetime="2022-02-24T00:00:00.000Z" class="order-first font-mono text-sm leading-7 text-muted">February 23, 2022</time>
                    <p class="mt-1 text-base leading-7 text-subtle">He’s going to need you to go ahead and come in on Saturday, but there’s a lot more to the story than you think.</p>
                    <div class="mt-4 flex items-center gap-4">
                      <button type="button" aria-label="Play episode 5: Bill Lumbergh" class="flex items-center gap-x-3 text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900">
                        <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5 fill-current">
                          <path d="M8.25 4.567a.5.5 0 0 1 0 .866l-7.5 4.33A.5.5 0 0 1 0 9.33V.67A.5.5 0 0 1 .75.237l7.5 4.33Z"></path>
                        </svg>
                        <span aria-hidden="true">Listen</span>
                      </button>
                      <span aria-hidden="true" class="text-sm font-bold text-slate-400">/</span>
                      <a class="flex items-center text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900" aria-label="Show notes for episode 5: Bill Lumbergh" href="/5">Show notes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article aria-labelledby="episode-4-title" class="py-10 sm:py-12">
            <div class="lg:px-8">
              <div class="lg:max-w-4xl">
                <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                  <div class="flex flex-col items-start">
                    <h2 id="episode-4-title" class="mt-2 text-lg font-bold text-default">
                      <a href="/4">4: Shooter McGavin</a>
                    </h2>
                    <time datetime="2022-02-17T00:00:00.000Z" class="order-first font-mono text-sm leading-7 text-muted">February 16, 2022</time>
                    <p class="mt-1 text-base leading-7 text-subtle">When golf-obsessed terrorists kidnapped his family and held them hostage in exchange for a Golden Jacket, Shooter had no choice but to win the tour at any cost.</p>
                    <div class="mt-4 flex items-center gap-4">
                      <button type="button" aria-label="Play episode 4: Shooter McGavin" class="flex items-center gap-x-3 text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900">
                        <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5 fill-current">
                          <path d="M8.25 4.567a.5.5 0 0 1 0 .866l-7.5 4.33A.5.5 0 0 1 0 9.33V.67A.5.5 0 0 1 .75.237l7.5 4.33Z"></path>
                        </svg>
                        <span aria-hidden="true">Listen</span>
                      </button>
                      <span aria-hidden="true" class="text-sm font-bold text-slate-400">/</span>
                      <a class="flex items-center text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900" aria-label="Show notes for episode 4: Shooter McGavin" href="/4">Show notes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article aria-labelledby="episode-3-title" class="py-10 sm:py-12">
            <div class="lg:px-8">
              <div class="lg:max-w-4xl">
                <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                  <div class="flex flex-col items-start">
                    <h2 id="episode-3-title" class="mt-2 text-lg font-bold text-default">
                      <a href="/3">3: The Wet Bandits</a>
                    </h2>
                    <time datetime="2022-02-10T00:00:00.000Z" class="order-first font-mono text-sm leading-7 text-muted">February 9, 2022</time>
                    <p class="mt-1 text-base leading-7 text-subtle">The Christmas of 1989 wasn’t the first time Harry and Marv crossed paths with the McCallisters. The real story starts in 1973, when Peter tripped Marv in the highschool locker room.</p>
                    <div class="mt-4 flex items-center gap-4">
                      <button type="button" aria-label="Play episode 3: The Wet Bandits" class="flex items-center gap-x-3 text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900">
                        <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5 fill-current">
                          <path d="M8.25 4.567a.5.5 0 0 1 0 .866l-7.5 4.33A.5.5 0 0 1 0 9.33V.67A.5.5 0 0 1 .75.237l7.5 4.33Z"></path>
                        </svg>
                        <span aria-hidden="true">Listen</span>
                      </button>
                      <span aria-hidden="true" class="text-sm font-bold text-slate-400">/</span>
                      <a class="flex items-center text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900" aria-label="Show notes for episode 3: The Wet Bandits" href="/3">Show notes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article aria-labelledby="episode-2-title" class="py-10 sm:py-12">
            <div class="lg:px-8">
              <div class="lg:max-w-4xl">
                <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                  <div class="flex flex-col items-start">
                    <h2 id="episode-2-title" class="mt-2 text-lg font-bold text-default">
                      <a href="/2">2: Hank Scorpio</a>
                    </h2>
                    <time datetime="2022-02-03T00:00:00.000Z" class="order-first font-mono text-sm leading-7 text-muted">February 2, 2022</time>
                    <p class="mt-1 text-base leading-7 text-subtle">What looks to outsiders like a malicious plan to conquer the east coast, was actually a story of liberation and freedom if you get it straight from the source.</p>
                    <div class="mt-4 flex items-center gap-4">
                      <button type="button" aria-label="Play episode 2: Hank Scorpio" class="flex items-center gap-x-3 text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900">
                        <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5 fill-current">
                          <path d="M8.25 4.567a.5.5 0 0 1 0 .866l-7.5 4.33A.5.5 0 0 1 0 9.33V.67A.5.5 0 0 1 .75.237l7.5 4.33Z"></path>
                        </svg>
                        <span aria-hidden="true">Listen</span>
                      </button>
                      <span aria-hidden="true" class="text-sm font-bold text-slate-400">/</span>
                      <a class="flex items-center text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900" aria-label="Show notes for episode 2: Hank Scorpio" href="/2">Show notes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article aria-labelledby="episode-1-title" class="py-10 sm:py-12">
            <div class="lg:px-8">
              <div class="lg:max-w-4xl">
                <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                  <div class="flex flex-col items-start">
                    <h2 id="episode-1-title" class="mt-2 text-lg font-bold text-default">
                      <a href="/1">1: Skeletor</a>
                    </h2>
                    <time datetime="2022-01-27T00:00:00.000Z" class="order-first font-mono text-sm leading-7 text-muted">January 26, 2022</time>
                    <p class="mt-1 text-base leading-7 text-subtle">You know him as an evil supervillain, but his closest friends call him Jeff, and he's just doing his best to find his way in a world that doesn't know what to do with a talking skeleton.</p>
                    <div class="mt-4 flex items-center gap-4">
                      <button type="button" aria-label="Play episode 1: Skeletor" class="flex items-center gap-x-3 text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900">
                        <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5 fill-current">
                          <path d="M8.25 4.567a.5.5 0 0 1 0 .866l-7.5 4.33A.5.5 0 0 1 0 9.33V.67A.5.5 0 0 1 .75.237l7.5 4.33Z"></path>
                        </svg>
                        <span aria-hidden="true">Listen</span>
                      </button>
                      <span aria-hidden="true" class="text-sm font-bold text-slate-400">/</span>
                      <a class="flex items-center text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900" aria-label="Show notes for episode 1: Skeletor" href="/1">Show notes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>
  <footer class="border-t border-subtle bg-default py-10 pb-40 sm:py-16 sm:pb-32 lg:hidden">
    <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4">
      <section>
        <h2 class="flex items-center font-mono text-sm font-medium leading-7 text-default">
          <svg aria-hidden="true" viewBox="0 0 10 10" class="h-2.5 w-2.5">
            <path d="M0 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5Z" class="fill-violet-300"></path>
            <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V1Z" class="fill-pink-300"></path>
          </svg>
          <span class="ml-2.5">About</span>
        </h2>
        <p class="mt-2 text-base leading-7 text-subtle lg:line-clamp-4">In this show, Eric and Wes dig deep to get to the facts with guests who have been labeled villains by a society quick to judge, without actually getting the full story. Tune in every Thursday to get to the truth with another misunderstood outcast as they share the missing context in their tragic tale.</p>
        <button type="button" class="mt-2 hidden text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900 lg:inline-block">Show more</button>
      </section>
      <h2 class="mt-8 flex items-center font-mono text-sm font-medium leading-7 text-default">
        <svg aria-hidden="true" viewBox="0 0 11 12" class="h-3 w-auto fill-slate-300">
          <path d="M5.019 5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Zm3.29 7c1.175 0 2.12-1.046 1.567-2.083A5.5 5.5 0 0 0 5.019 7 5.5 5.5 0 0 0 .162 9.917C-.39 10.954.554 12 1.73 12h6.578Z"></path>
        </svg>
        <span class="ml-2.5">Hosted by</span>
      </h2>
      <div class="mt-2 flex gap-6 text-sm font-bold leading-7 text-default">Eric Gordon <span aria-hidden="true" class="text-slate-400">/</span>Wes Mantooth </div>
    </div>
  </footer>
  <div class="fixed inset-x-0 bottom-0 z-10 lg:left-112 xl:left-120">
    <div class="flex items-center gap-6 bg-default/90 px-4 py-4 shadow shadow-muted/80 ring-1 ring-slate-900/5 backdrop-blur-sm md:px-6">
      <div class="hidden md:block">
        <button type="button" class="group relative flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-subtle hover:bg-slate-900 focus:outline-none focus:ring-2 focus:ring-subtle focus:ring-offset-2 md:h-14 md:w-14" aria-label="Play">
          <div class="absolute -inset-3 md:hidden"></div>
          <svg viewBox="0 0 36 36" aria-hidden="true" class="h-5 w-5 fill-default group-active:fill-default/80 md:h-7 md:w-7">
            <path d="M33.75 16.701C34.75 17.2783 34.75 18.7217 33.75 19.299L11.25 32.2894C10.25 32.8668 9 32.1451 9 30.9904L9 5.00962C9 3.85491 10.25 3.13323 11.25 3.71058L33.75 16.701Z"></path>
          </svg>
        </button>
      </div>
      <div class="mb-[env(safe-area-inset-bottom)] flex flex-1 flex-col gap-3 overflow-hidden p-1">
        <a class="truncate text-center text-sm font-bold leading-6 md:text-left" title="5: Bill Lumbergh" href="/5">5: Bill Lumbergh</a>
        <div class="flex justify-between gap-6">
          <div class="flex items-center md:hidden">
            <button type="button" class="group relative rounded-md hover:bg-subtle focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 md:order-none" aria-label="Mute">
              <div class="absolute -inset-4 md:hidden"></div>
              <svg aria-hidden="true" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 fill-slate-500 stroke-slate-500 group-hover:fill-subtle group-hover:stroke-subtle">
                <path d="M12 6L8 10H6C5.44772 10 5 10.4477 5 11V13C5 13.5523 5.44772 14 6 14H8L12 18V6Z"></path>
                <path d="M17 7C17 7 19 9 19 12C19 15 17 17 17 17" fill="none"></path>
                <path d="M15.5 10.5C15.5 10.5 16 10.9998 16 11.9999C16 13 15.5 13.5 15.5 13.5" fill="none"></path>
              </svg>
            </button>
          </div>
          <div class="flex flex-none items-center gap-4">
            <button type="button" class="group relative rounded-full focus:outline-none" aria-label="Rewind 10 seconds">
              <div class="absolute -inset-4 -right-2 md:hidden"></div>
              <svg aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 stroke-slate-500 group-hover:stroke-subtle">
                <path d="M8 5L5 8M5 8L8 11M5 8H13.5C16.5376 8 19 10.4624 19 13.5C19 15.4826 18.148 17.2202 17 18.188"></path>
                <path d="M5 15V19"></path>
                <path d="M8 18V16C8 15.4477 8.44772 15 9 15H10C10.5523 15 11 15.4477 11 16V18C11 18.5523 10.5523 19 10 19H9C8.44772 19 8 18.5523 8 18Z"></path>
              </svg>
            </button>
            <div class="md:hidden">
              <button type="button" class="group relative flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-subtle hover:bg-slate-900 focus:outline-none focus:ring-2 focus:ring-subtle focus:ring-offset-2 md:h-14 md:w-14" aria-label="Play">
                <div class="absolute -inset-3 md:hidden"></div>
                <svg viewBox="0 0 36 36" aria-hidden="true" class="h-5 w-5 fill-default group-active:fill-default/80 md:h-7 md:w-7">
                  <path d="M33.75 16.701C34.75 17.2783 34.75 18.7217 33.75 19.299L11.25 32.2894C10.25 32.8668 9 32.1451 9 30.9904L9 5.00962C9 3.85491 10.25 3.13323 11.25 3.71058L33.75 16.701Z"></path>
                </svg>
              </button>
            </div>
            <button type="button" class="group relative rounded-full focus:outline-none" aria-label="Fast-forward 10 seconds">
              <div class="absolute -inset-4 -left-2 md:hidden"></div>
              <svg aria-hidden="true" viewBox="0 0 24 24" fill="none" class="h-6 w-6 stroke-slate-500 group-hover:stroke-subtle">
                <path d="M16 5L19 8M19 8L16 11M19 8H10.5C7.46243 8 5 10.4624 5 13.5C5 15.4826 5.85204 17.2202 7 18.188" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M13 15V19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M16 18V16C16 15.4477 16.4477 15 17 15H18C18.5523 15 19 15.4477 19 16V18C19 18.5523 18.5523 19 18 19H17C16.4477 19 16 18.5523 16 18Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
          </div>
          <div role="group" id="react-aria1197327017-:r0:" aria-labelledby="react-aria1197327017-:r1:" class="absolute inset-x-0 bottom-full flex flex-auto touch-none items-center gap-6 md:relative">
            <label class="sr-only" id="react-aria1197327017-:r1:">Current time</label>
            <div class="relative w-full bg-subtle md:rounded-full" style="position: relative; touch-action: none;">
              <div class="h-2 md:rounded-l-xl md:rounded-r-md bg-subtle" style="width: 0px;"></div>
              <div class="absolute top-1/2 -translate-x-1/2" style="left: 0%;">
                <div class="h-4 rounded-full w-1 bg-subtle" style="position: absolute; transform: translate(-50%, -50%); touch-action: none; left: 0%;">
                  <div style="border: 0px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap;">
                    <input tabindex="0" id="react-aria1197327017-:r1:-0" aria-labelledby="react-aria1197327017-:r1:" min="0" max="64" step="1" aria-orientation="horizontal" aria-valuetext="0 hours, 0 minutes, 0 seconds" aria-describedby="" aria-details="" type="range" value="0">
                  </div>
                </div>
              </div>
            </div>
            <div class="hidden items-center gap-2 md:flex">
              <output for="react-aria1197327017-:r1:-0" aria-live="off" class="hidden rounded-md px-1 py-0.5 font-mono text-sm leading-6 md:block text-muted">00:00</output>
              <span class="text-sm leading-6 text-slate-300" aria-hidden="true">/</span>
              <span class="hidden rounded-md px-1 py-0.5 font-mono text-sm leading-6 text-muted md:block">01:04</span>
            </div>
          </div>
          <div class="flex items-center gap-4">
            <div class="flex items-center">
              <button type="button" class="relative flex h-6 w-6 items-center justify-center rounded-md text-muted hover:bg-subtle hover:text-subtle focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2" aria-label="Playback rate">
                <div class="absolute -inset-4 md:hidden"></div>
                <svg aria-hidden="true" viewBox="0 0 16 16" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
                  <path d="M13 1H3C1.89543 1 1 1.89543 1 3V13C1 14.1046 1.89543 15 3 15H13C14.1046 15 15 14.1046 15 13V3C15 1.89543 14.1046 1 13 1Z" fill="currentColor" stroke="currentColor" stroke-width="2"></path>
                  <path d="M3.75 7.25L5.25 5.77539V11.25"></path>
                  <path d="M8.75 7.75L11.25 10.25"></path>
                  <path d="M11.25 7.75L8.75 10.25"></path>
                </svg>
              </button>
            </div>
            <div class="hidden items-center md:flex">
              <button type="button" class="group relative rounded-md hover:bg-subtle focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 md:order-none" aria-label="Mute">
                <div class="absolute -inset-4 md:hidden"></div>
                <svg aria-hidden="true" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 fill-slate-500 stroke-slate-500 group-hover:fill-subtle group-hover:stroke-subtle">
                  <path d="M12 6L8 10H6C5.44772 10 5 10.4477 5 11V13C5 13.5523 5.44772 14 6 14H8L12 18V6Z"></path>
                  <path d="M17 7C17 7 19 9 19 12C19 15 17 17 17 17" fill="none"></path>
                  <path d="M15.5 10.5C15.5 10.5 16 10.9998 16 11.9999C16 13 15.5 13.5 15.5 13.5" fill="none"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <audio src="https://their-side-feed.vercel.app/episode-005.mp3"></audio>
</div>
